[Unit]
Description=Configuracion de Post-Instalacion de Atomic Linux
After=multi-user.target
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/atomic-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
